@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&display=swap');
.cards-section{
    background-color: #f3f5fa;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    padding: 100px 0;
}
.cards-container{
    background-color: #f3f5fa;
    width: 100%;
}
.card-icon img{
    width: 40px;
}
.cards-title{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 0;
}
.cards-title h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
    font-family: "Jost", sans-serif;
    line-height: 1.2;
}
.cards-title h2::before{
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: rgb(192, 190, 190);
    bottom: 1px;
    left: calc(50% - 60px);
}
.cards-title h2::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}
.cards-title p{
    font-family: 'Open Sans', sans-serif;
    color: #7c7c7c;
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 20px 0;
}
.cards-container{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}
.card{
    width: 20%;
    border: 1px solid white;
    margin-top: 20px;
    min-height: 270px;
    background-color: white;
    border-radius: 7px;
    transition:all 0.5s ease;
}
.card:hover{
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
.card:hover .card-text h2{
    color: #47b2e4;
    transition: all 0.5 ease;
}
.card-icon{
    position: relative;
    margin-top: 5vh;
}
.card-icon img{
    margin-left: 5vh;
}
.card-text{
    position: relative;
    width: 100%;
}
.card-text h2{
    margin-left: 5vh;
    margin-top: 25px;
    color: #37517e;
    font-family: "Jost", sans-serif;
    transition: all 0.5s ease;
    font-weight: 500;
}
.card-text p{
    margin-left: 5vh;
    margin-right: 5vh;
    line-height: 24px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    color: #7c7c7c;
}

