.logolar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logolar div{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logolar img{
    width: 50%;
}