@media screen and (max-width:1000px){
    .skills-progress{
        display: flex;
        flex-direction: column;
    }
    .skills-text{
        margin-top: 8vh;
    }
    .skills-image img{
        width: 80%;
    }

}