@media screen and (max-width:1000px){
    .why-us{
        display: flex;
        flex-direction: column;
    }
    .why-us-info{
        width: 100%;
    }
    .why-us-image{
        width: 100%;
        margin-top: 5vh;
        display: flex;
        justify-content: center;
    }
    .why-us-image img{
        width: 70%;
        text-align: center;
    }
}
@media screen and (min-width:1000px){
    .why-us-image{
        display: flex;
        align-items: center;
    }
}